.portfolio-sidebar-list-wrapper {

    .portfolio-item-thumb {
        padding: 2rem;
    }

    .portfolio-thumb-img img {
        width: 100%;
    }

    .title {
        color: $white;
    }
}